:root {
  /* Variables */
  --color-1: tomato;
  --color-2: lightseagreen;
  --color-3: cornflowerblue;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.inner-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(265px,1fr));
}

.project-container {
  display: grid;
  border: solid 1px var(--color-1);
  padding: 1rem;
}
.todos.container,
.todo.checklist {
  display: grid;
}
.todo-container {
  display: grid;
  border: solid 1px var(--color-2);
  padding: 1rem;
}
.checklist-item-container {
  display: grid;
  border: solid 1px var(--color-3);
  padding: .5rem;
}
.todo-container.form,
.checklist-item-container.form,
.project-container.form {
  order: 9999;
}