:root {
  /* Variables */
  --color-1: tomato;
  --color-2: lightseagreen;
  --color-3: cornflowerblue;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-width: 100vw;
  min-height: 100vh;
}
.inner-container {
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  overflow-y: scroll;
}

.project-container {
  display: grid;
  grid-template-rows: 2rem;
  border: solid 1px var(--color-1);
  padding: .5rem;

}
.todos.container,
.todo.checklist {
  display: grid;
  overflow-y: scroll;
}
.todo-container {
  display: grid;
  border: solid 1px var(--color-2);
  padding: 1rem;
}
.checklist-item-container {
  display: grid;
  border: solid 1px var(--color-3);
  padding: .5rem;
}
.todo-container.form,
.checklist-item-container.form,
.project-container.form {
  order: 9999;
}
footer, header{
  min-height: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.project.title.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: fit-content;
}